<h4>Forms <small>data</small></h4>
<hr>
<form [formGroup]='form' (ngSubmit)="save()">

    <div formGroupName="name">

        <div class="form-group row">
            <label class="col-2 col-form-label">First Name</label>
            <div class="col-8">

                <input class="form-control" formControlName="first_name" type="text" placeholder="Nombre" [ngClass]="{ 'is-invalid': form.get('name.first_name').invalid && form.get('name.first_name').touched, 'is-valid': form.get('name.first_name').valid && form.get('name.first_name').touched}">

                <div *ngIf="form.get('name.first_name').errors?.required" class="invalid-feedback">
                    This field is required.
                </div>
                <div *ngIf="form.get('name.first_name').errors?.minlength" class="invalid-feedback">
                    At least {{ form.get('name.first_name').errors.minlength.requiredLength }} characters.
                </div>

            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Last Name</label>
            <div class="col-8">

                <input class="form-control" formControlName="last_name" type="text" placeholder="Apellido">
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Email</label>
        <div class="col-md-8">

            <input class="form-control" formControlName="email" type="email" placeholder="Correo electrónico">
        </div>
    </div>



    <div class="form-group row">
        <label class="col-2 col-form-label">Hobby</label>
        <div class="col-md-8" formArrayName="hobbies">
            <input *ngFor="let hobby of form.controls['hobbies'].controls; let i = index;" type="text" class="form-control" [formControlName]="i">
        </div>
        <button type="button" class="btn btn-primary" (click)="addHobby()">Nuevo</button>

    </div>


    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary">
        Save
      </button>
        </div>
    </div>
    {{ form.valid }}
</form>